/*
.CW {
  -webkit-animation: spincw 5000ms linear infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-delay: 50ms;
  -moz-animation: spincw 5000ms linear infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-delay: 50ms;
  -o-animation: spincw 5000ms linear infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-delay: 50ms;
  -ms-transform-origin: 50% 50%;
  animation: spincw 5000ms linear infinite;
  transform-origin: 50% 50%;
  animation-delay: 50ms;
}

.CCW {
  -webkit-animation: spinccw 5000ms linear infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: spinccw 5000ms linear infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: spinccw 5000ms linear infinite;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  animation: spinccw 5000ms linear infinite;
  transform-origin: 50% 50%;
}

.Crank {
  -webkit-transform-origin: 200px 50%;
  -moz-transform-origin: 200px 50%;
  -o-transform-origin: 200px 50%;
  -ms-transform-origin: 200px 50%;
  transform-origin: 200px 50%;
}

.large {
  -webkit-animation-duration: 10000ms;
  -moz-animation-duration: 10000ms;
  -o-animation-duration: 10000ms;
  animation-duration: 10000ms;
}

.small {
  -webkit-animation-duration: 2500ms;
  -moz-animation-duration: 2500ms;
  -o-animation-duration: 2500ms;
  animation-duration: 2500ms;
}

@keyframes spincw {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spincw {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinccw {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-moz-keyframes spincw {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinccw {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-o-keyframes spincw {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinccw {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spinccw {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
*/
.CrankGears {
  max-height: 100%;
  fill: #222;
  float: right;
  margin-right: -15px;
}

.Crank {
  fill: #fff;
}
