/* Custom CSS: */

.is-loading,
.is-loading a {
  cursor: progress;
}

h5 .subheading {
  font-size: 80%;
  color: lighten(#000, 20%);
  font-weight: bold;
}

#main {
  height: 100%;
  overflow-x: hidden;
}

#main-sidebar {
  background-color: #f0f0f0;
  height: auto;
}

@media only screen and (min-width: 64.0625em) {
  #main-sidebar {
    height: 100%;
  }
}

#main-content-wrapper {
  height: 100%;
}

#main-content {
  height: auto;
  min-height: 100%;
}

#main-footer {
  height: 85px;
  margin-top: -85px;
}

.CrankGears {
  max-height: 100%;
  float: right;
  margin-right: -15px;
}


/* Overwriting foundation.css: */

.row {
  max-width: none;
}




/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}